.site-header {
  width: 100%;
  border-bottom: $margins;
  background-color: white;
}

.site-title {
  img {
    height: 70px;
  }
}

.site-nav {
  float: right;
  .page-link {
    line-height: 70px;
    margin: auto 1em;
  }
}
